SIS4415_FinalProject_AnibalFalcon/flows/complete_integrated_flow_BACKUP_20251126.json
[
    {
        "id": "smart_production_tab",
        "type": "tab",
        "label": "Smart Production Monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Production Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_controls",
        "type": "ui_group",
        "name": "System Controls",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_mx01",
        "type": "ui_group",
        "name": "MX-01 Status",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "ui_group_mx02",
        "type": "ui_group",
        "name": "MX-02 Status",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "ui_group_mx03",
        "type": "ui_group",
        "name": "MX-03 Status",
        "tab": "ui_tab_main",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "ui_group_charts",
        "type": "ui_group",
        "name": "Production Charts",
        "tab": "ui_tab_main",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_stats",
        "type": "ui_group",
        "name": "System Statistics",
        "tab": "ui_tab_main",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "simulator_timer",
        "type": "inject",
        "z": "smart_production_tab",
        "name": "Main Timer",
        "props": [{"p": "payload"}],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [["check_active"]]
    },
    {
        "id": "check_active",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Check Active",
        "func": "const active = flow.get('simulatorActive');\nif (active !== false) {\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "flow.set('simulatorActive', true);\nflow.set('updateFrequency', 2000);\nflow.set('faultMode', false);",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 100,
        "wires": [["generate_mx01", "generate_mx02", "generate_mx03"]]
    },
    {
        "id": "generate_mx01",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Generate MX-01",
        "func": "const faultMode = flow.get('faultMode') || false;\nconst baseTemp = 65;\nconst baseVibration = 20;\n\nlet tempVariation = (Math.random() - 0.5) * 10;\nlet vibrationVariation = Math.floor((Math.random() - 0.5) * 15);\n\nif (faultMode) {\n    tempVariation = tempVariation * 3;\n    vibrationVariation = vibrationVariation * 2;\n}\n\nconst temperature = baseTemp + tempVariation;\nconst vibration = Math.max(0, Math.min(100, baseVibration + vibrationVariation));\nconst productionCount = Math.floor(Math.random() * 20) + 10;\nconst fault = faultMode || (Math.random() < 0.05);\n\nmsg.payload = {\n    machine_id: \"MX-01\",\n    temperature: parseFloat(temperature.toFixed(2)),\n    vibration: vibration,\n    production_count: productionCount,\n    fault: fault,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 60,
        "wires": [["send_to_api", "update_mx01_gauges", "update_chart"]]
    },
    {
        "id": "generate_mx02",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Generate MX-02",
        "func": "const faultMode = flow.get('faultMode') || false;\nconst baseTemp = 72;\nconst baseVibration = 25;\n\nlet tempVariation = (Math.random() - 0.5) * 12;\nlet vibrationVariation = Math.floor((Math.random() - 0.5) * 18);\n\nif (faultMode) {\n    tempVariation = tempVariation * 3;\n    vibrationVariation = vibrationVariation * 2;\n}\n\nconst temperature = baseTemp + tempVariation;\nconst vibration = Math.max(0, Math.min(100, baseVibration + vibrationVariation));\nconst productionCount = Math.floor(Math.random() * 18) + 12;\nconst fault = faultMode || (Math.random() < 0.05);\n\nmsg.payload = {\n    machine_id: \"MX-02\",\n    temperature: parseFloat(temperature.toFixed(2)),\n    vibration: vibration,\n    production_count: productionCount,\n    fault: fault,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [["send_to_api", "update_mx02_gauges", "update_chart"]]
    },
    {
        "id": "generate_mx03",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Generate MX-03",
        "func": "const faultMode = flow.get('faultMode') || false;\nconst baseTemp = 68;\nconst baseVibration = 18;\n\nlet tempVariation = (Math.random() - 0.5) * 8;\nlet vibrationVariation = Math.floor((Math.random() - 0.5) * 12);\n\nif (faultMode) {\n    tempVariation = tempVariation * 3;\n    vibrationVariation = vibrationVariation * 2;\n}\n\nconst temperature = baseTemp + tempVariation;\nconst vibration = Math.max(0, Math.min(100, baseVibration + vibrationVariation));\nconst productionCount = Math.floor(Math.random() * 22) + 8;\nconst fault = faultMode || (Math.random() < 0.05);\n\nmsg.payload = {\n    machine_id: \"MX-03\",\n    temperature: parseFloat(temperature.toFixed(2)),\n    vibration: vibration,\n    production_count: productionCount,\n    fault: fault,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [["send_to_api", "update_mx03_gauges", "update_chart"]]
    },
    {
        "id": "send_to_api",
        "type": "http request",
        "z": "smart_production_tab",
        "name": "POST to API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://localhost:8000/api/machines/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 120,
        "wires": [["api_response"]]
    },
    {
        "id": "api_response",
        "type": "debug",
        "z": "smart_production_tab",
        "name": "API Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "update_mx01_gauges",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Split MX-01",
        "func": "return [\n    {payload: msg.payload.temperature, topic: 'MX-01'},\n    {payload: msg.payload.vibration, topic: 'MX-01'}\n];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 260,
        "wires": [["gauge_mx01_temp"], ["gauge_mx01_vib"]]
    },
    {
        "id": "update_mx02_gauges",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Split MX-02",
        "func": "return [\n    {payload: msg.payload.temperature, topic: 'MX-02'},\n    {payload: msg.payload.vibration, topic: 'MX-02'}\n];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 340,
        "wires": [["gauge_mx02_temp"], ["gauge_mx02_vib"]]
    },
    {
        "id": "update_mx03_gauges",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Split MX-03",
        "func": "return [\n    {payload: msg.payload.temperature, topic: 'MX-03'},\n    {payload: msg.payload.vibration, topic: 'MX-03'}\n];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 420,
        "wires": [["gauge_mx03_temp"], ["gauge_mx03_vib"]]
    },
    {
        "id": "update_chart",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Format Chart",
        "func": "msg.topic = msg.payload.machine_id;\nmsg.payload = msg.payload.production_count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 520,
        "wires": [["chart_production"]]
    },
    {
        "id": "start_stop_switch",
        "type": "ui_switch",
        "z": "smart_production_tab",
        "name": "",
        "label": "Production Line",
        "tooltip": "Start/Stop simulation",
        "group": "ui_group_controls",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "control",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 300,
        "wires": [["control_simulator"]]
    },
    {
        "id": "control_simulator",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Set Active",
        "func": "flow.set('simulatorActive', msg.payload);\nnode.status({fill: msg.payload ? 'green' : 'red', shape: 'dot', text: msg.payload ? 'Running' : 'Stopped'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "frequency_slider",
        "type": "ui_slider",
        "z": "smart_production_tab",
        "name": "",
        "label": "Update Frequency (sec)",
        "tooltip": "Adjust update interval",
        "group": "ui_group_controls",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "frequency",
        "topicType": "str",
        "min": "1",
        "max": "10",
        "step": "1",
        "className": "",
        "x": 150,
        "y": 360,
        "wires": [["update_frequency"]]
    },
    {
        "id": "update_frequency",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Store Freq",
        "func": "flow.set('updateFrequency', msg.payload * 1000);\nnode.status({fill: 'blue', shape: 'dot', text: msg.payload + 's'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 360,
        "wires": [[]]
    },
    {
        "id": "fault_toggle",
        "type": "ui_switch",
        "z": "smart_production_tab",
        "name": "",
        "label": "Force Fault Mode",
        "tooltip": "Inject anomalies",
        "group": "ui_group_controls",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "fault",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "red",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 420,
        "wires": [["store_fault_mode"]]
    },
    {
        "id": "store_fault_mode",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Set Fault",
        "func": "flow.set('faultMode', msg.payload);\nnode.status({fill: msg.payload ? 'red' : 'green', shape: 'dot', text: msg.payload ? 'FAULT MODE' : 'Normal'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 420,
        "wires": [[]]
    },
    {
        "id": "gauge_mx01_temp",
        "type": "ui_gauge",
        "z": "smart_production_tab",
        "name": "",
        "group": "ui_group_mx01",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "60",
        "seg2": "80",
        "className": "",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "gauge_mx01_vib",
        "type": "ui_gauge",
        "z": "smart_production_tab",
        "name": "",
        "group": "ui_group_mx01",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vibration",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "50",
        "seg2": "70",
        "className": "",
        "x": 1000,
        "y": 280,
        "wires": []
    },
    {
        "id": "gauge_mx02_temp",
        "type": "ui_gauge",
        "z": "smart_production_tab",
        "name": "",
        "group": "ui_group_mx02",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "60",
        "seg2": "80",
        "className": "",
        "x": 1000,
        "y": 320,
        "wires": []
    },
    {
        "id": "gauge_mx02_vib",
        "type": "ui_gauge",
        "z": "smart_production_tab",
        "name": "",
        "group": "ui_group_mx02",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vibration",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "50",
        "seg2": "70",
        "className": "",
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "gauge_mx03_temp",
        "type": "ui_gauge",
        "z": "smart_production_tab",
        "name": "",
        "group": "ui_group_mx03",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "60",
        "seg2": "80",
        "className": "",
        "x": 1000,
        "y": 400,
        "wires": []
    },
    {
        "id": "gauge_mx03_vib",
        "type": "ui_gauge",
        "z": "smart_production_tab",
        "name": "",
        "group": "ui_group_mx03",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vibration",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "50",
        "seg2": "70",
        "className": "",
        "x": 1000,
        "y": 440,
        "wires": []
    },
    {
        "id": "chart_production",
        "type": "ui_chart",
        "z": "smart_production_tab",
        "name": "",
        "group": "ui_group_charts",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Production Count (units/min)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#ff7f0e", "#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 520,
        "wires": [[]]
    },
    {
        "id": "text_total_machines",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_stats",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Machines",
        "format": "3",
        "layout": "col-center",
        "className": "",
        "x": 1020,
        "y": 600,
        "wires": []
    },
    {
        "id": "text_active_machines",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_stats",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Active Machines",
        "format": "3",
        "layout": "col-center",
        "className": "",
        "x": 1030,
        "y": 640,
        "wires": []
    }
]