SIS4415_FinalProject_AnibalFalcon/flows/complete_integrated_flow.json
[
    {
        "id": "smart_production_tab",
        "type": "tab",
        "label": "Smart Production Monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ui_tab_login",
        "type": "ui_tab",
        "name": "Login",
        "icon": "vpn_key",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_tab_overview",
        "type": "ui_tab",
        "name": "Overview",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_tab_metrics",
        "type": "ui_tab",
        "name": "Live Metrics",
        "icon": "show_chart",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_tab_alerts",
        "type": "ui_tab",
        "name": "Alerts",
        "icon": "warning",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_tab_reports",
        "type": "ui_tab",
        "name": "Reports",
        "icon": "assessment",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_login",
        "type": "ui_group",
        "name": "Authentication",
        "tab": "ui_tab_login",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_login_status",
        "type": "ui_group",
        "name": "Status",
        "tab": "ui_tab_login",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_kpis",
        "type": "ui_group",
        "name": "Key Performance Indicators",
        "tab": "ui_tab_overview",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_machines_list",
        "type": "ui_group",
        "name": "Machines Status",
        "tab": "ui_tab_overview",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_controls",
        "type": "ui_group",
        "name": "System Controls",
        "tab": "ui_tab_metrics",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_gauges",
        "type": "ui_group",
        "name": "Machine Gauges",
        "tab": "ui_tab_metrics",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_charts",
        "type": "ui_group",
        "name": "Production Charts",
        "tab": "ui_tab_metrics",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_stats",
        "type": "ui_group",
        "name": "System Statistics",
        "tab": "ui_tab_metrics",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_alerts_list",
        "type": "ui_group",
        "name": "Active Alerts",
        "tab": "ui_tab_alerts",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_reports_controls",
        "type": "ui_group",
        "name": "Report Configuration",
        "tab": "ui_tab_reports",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_reports_data",
        "type": "ui_group",
        "name": "Statistics",
        "tab": "ui_tab_reports",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "login_form",
        "type": "ui_form",
        "z": "smart_production_tab",
        "name": "Login Form",
        "label": "System Login",
        "group": "ui_group_login",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "",
        "topic": "login",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 140,
        "y": 500,
        "wires": [["prepare_login"]]
    },
    {
        "id": "prepare_login",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Prepare Login Request",
        "func": "msg.payload = {\n    username: msg.payload.username,\n    password: msg.payload.password\n};\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [["http_login"]]
    },
    {
        "id": "http_login",
        "type": "http request",
        "z": "smart_production_tab",
        "name": "POST /api/auth/login",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://localhost:8000/api/auth/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 500,
        "wires": [["store_token"]]
    },
    {
        "id": "store_token",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Store JWT Token",
        "func": "if (msg.payload && msg.payload.access_token) {\n    flow.set('jwt_token', msg.payload.access_token);\n    flow.set('authenticated', true);\n    msg.payload = \"✓ Login successful! Token stored.\";\n    return [msg, null];\n} else {\n    flow.set('jwt_token', null);\n    flow.set('authenticated', false);\n    msg.payload = \"✗ Login failed. Invalid credentials.\";\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "flow.set('authenticated', false);\nflow.set('jwt_token', null);",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 500,
        "wires": [["login_success", "update_login_status"], ["login_error", "update_login_status"]]
    },
    {
        "id": "login_success",
        "type": "ui_toast",
        "z": "smart_production_tab",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Success Notification",
        "x": 1000,
        "y": 480,
        "wires": []
    },
    {
        "id": "login_error",
        "type": "ui_toast",
        "z": "smart_production_tab",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Error Notification",
        "x": 990,
        "y": 520,
        "wires": []
    },
    {
        "id": "update_login_status",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_login_status",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Authentication Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "check_auth_controls",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Check Auth",
        "func": "const authenticated = flow.get('authenticated');\nif (authenticated === true) {\n    return msg;\n} else {\n    msg.payload = \"Access denied. Please login first.\";\n    node.send([null, msg]);\n    return null;\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 800,
        "wires": [[], ["auth_denied_toast"]]
    },
    {
        "id": "auth_denied_toast",
        "type": "ui_toast",
        "z": "smart_production_tab",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 550,
        "y": 840,
        "wires": []
    },
    {
        "id": "simulator_timer",
        "type": "inject",
        "z": "smart_production_tab",
        "name": "Main Timer",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [["check_active"]]
    },
    {
        "id": "timer_controller",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Timer Controller",
        "func": "const active = flow.get('simulatorActive');\nconst frequency = flow.get('updateFrequency') || 2000;\n\nif (active) {\n    setTimeout(() => {\n        node.send({payload: Date.now()});\n    }, frequency);\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "flow.set('simulatorActive', false);\nflow.set('updateFrequency', 2000);\nflow.set('faultMode', false);\n\nconst interval = setInterval(() => {\n    const active = flow.get('simulatorActive');\n    if (active) {\n        node.send({payload: Date.now()});\n    }\n}, flow.get('updateFrequency') || 2000);",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [["generate_mx01", "generate_mx02", "generate_mx03"]]
    },
    {
        "id": "check_active",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Check Active",
        "func": "const active = flow.get('simulatorActive');\nif (active !== false) {\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 40,
        "wires": [["generate_mx01", "generate_mx02", "generate_mx03"]]
    },
    {
        "id": "generate_mx01",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Generate MX-01",
        "func": "const faultMode = flow.get('faultMode') || false;\nconst baseTemp = 65;\nconst baseVibration = 20;\n\nlet tempVariation = (Math.random() - 0.5) * 10;\nlet vibrationVariation = Math.floor((Math.random() - 0.5) * 15);\n\nif (faultMode) {\n    tempVariation = tempVariation * 3;\n    vibrationVariation = vibrationVariation * 2;\n}\n\nconst temperature = baseTemp + tempVariation;\nconst vibration = Math.max(0, Math.min(100, baseVibration + vibrationVariation));\nconst productionCount = Math.floor(Math.random() * 20) + 10;\nconst fault = faultMode || (Math.random() < 0.05);\n\nmsg.payload = {\n    machine_id: \"MX-01\",\n    temperature: parseFloat(temperature.toFixed(2)),\n    vibration: vibration,\n    production_count: productionCount,\n    fault: fault,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 60,
        "wires": [["send_to_api", "update_gauges_mx01", "update_chart"]]
    },
    {
        "id": "generate_mx02",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Generate MX-02",
        "func": "const faultMode = flow.get('faultMode') || false;\nconst baseTemp = 72;\nconst baseVibration = 25;\n\nlet tempVariation = (Math.random() - 0.5) * 12;\nlet vibrationVariation = Math.floor((Math.random() - 0.5) * 18);\n\nif (faultMode) {\n    tempVariation = tempVariation * 3;\n    vibrationVariation = vibrationVariation * 2;\n}\n\nconst temperature = baseTemp + tempVariation;\nconst vibration = Math.max(0, Math.min(100, baseVibration + vibrationVariation));\nconst productionCount = Math.floor(Math.random() * 18) + 12;\nconst fault = faultMode || (Math.random() < 0.05);\n\nmsg.payload = {\n    machine_id: \"MX-02\",\n    temperature: parseFloat(temperature.toFixed(2)),\n    vibration: vibration,\n    production_count: productionCount,\n    fault: fault,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [["send_to_api", "update_gauges_mx02", "update_chart"]]
    },
    {
        "id": "generate_mx03",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Generate MX-03",
        "func": "const faultMode = flow.get('faultMode') || false;\nconst baseTemp = 68;\nconst baseVibration = 18;\n\nlet tempVariation = (Math.random() - 0.5) * 8;\nlet vibrationVariation = Math.floor((Math.random() - 0.5) * 12);\n\nif (faultMode) {\n    tempVariation = tempVariation * 3;\n    vibrationVariation = vibrationVariation * 2;\n}\n\nconst temperature = baseTemp + tempVariation;\nconst vibration = Math.max(0, Math.min(100, baseVibration + vibrationVariation));\nconst productionCount = Math.floor(Math.random() * 22) + 8;\nconst fault = faultMode || (Math.random() < 0.05);\n\nmsg.payload = {\n    machine_id: \"MX-03\",\n    temperature: parseFloat(temperature.toFixed(2)),\n    vibration: vibration,\n    production_count: productionCount,\n    fault: fault,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [["send_to_api", "update_gauges_mx03", "update_chart"]]
    },
    {
        "id": "send_to_api",
        "type": "http request",
        "z": "smart_production_tab",
        "name": "POST to API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://localhost:8000/api/machines/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 120,
        "wires": [["api_response"]]
    },
    {
        "id": "api_response",
        "type": "debug",
        "z": "smart_production_tab",
        "name": "API Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "start_stop_switch",
        "type": "ui_switch",
        "z": "smart_production_tab",
        "name": "",
        "label": "Production Line",
        "tooltip": "Start/Stop simulation (Login required)",
        "group": "ui_group_controls",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "control",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 300,
        "wires": [["check_auth_start_stop"]]
    },
    {
        "id": "check_auth_start_stop",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Check Auth",
        "func": "const authenticated = flow.get('authenticated');\nif (authenticated === true) {\n    return msg;\n} else {\n    node.warn('Unauthorized access attempt to Production Line control');\n    msg.payload = \"⚠ Access denied. Please login first.\";\n    node.send([null, msg]);\n    return null;\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [["control_simulator"], ["auth_denied_toast"]]
    },
    {
        "id": "control_simulator",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Set Active",
        "func": "flow.set('simulatorActive', msg.payload);\nnode.status({fill: msg.payload ? 'green' : 'red', shape: 'dot', text: msg.payload ? 'Running' : 'Stopped'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "frequency_slider",
        "type": "ui_slider",
        "z": "smart_production_tab",
        "name": "",
        "label": "Update Frequency (sec)",
        "tooltip": "Adjust update interval (Login required)",
        "group": "ui_group_controls",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "frequency",
        "topicType": "str",
        "min": "1",
        "max": "10",
        "step": "1",
        "className": "",
        "x": 150,
        "y": 360,
        "wires": [["check_auth_frequency"]]
    },
    {
        "id": "check_auth_frequency",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Check Auth",
        "func": "const authenticated = flow.get('authenticated');\nif (authenticated === true) {\n    return msg;\n} else {\n    node.warn('Unauthorized access attempt to Frequency control');\n    msg.payload = \"⚠ Access denied. Please login first.\";\n    node.send([null, msg]);\n    return null;\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 360,
        "wires": [["update_frequency"], ["auth_denied_toast"]]
    },
    {
        "id": "update_frequency",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Store Freq",
        "func": "flow.set('updateFrequency', msg.payload * 1000);\nnode.status({fill: 'blue', shape: 'dot', text: msg.payload + 's'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 360,
        "wires": [[]]
    },
    {
        "id": "fault_toggle",
        "type": "ui_switch",
        "z": "smart_production_tab",
        "name": "",
        "label": "Force Fault Mode",
        "tooltip": "Inject anomalies (Login required)",
        "group": "ui_group_controls",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "fault",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "red",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 420,
        "wires": [["check_auth_fault"]]
    },
    {
        "id": "check_auth_fault",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Check Auth",
        "func": "const authenticated = flow.get('authenticated');\nif (authenticated === true) {\n    return msg;\n} else {\n    node.warn('Unauthorized access attempt to Fault Mode control');\n    msg.payload = \"⚠ Access denied. Please login first.\";\n    node.send([null, msg]);\n    return null;\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 420,
        "wires": [["store_fault_mode"], ["auth_denied_toast"]]
    },
    {
        "id": "store_fault_mode",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Set Fault",
        "func": "flow.set('faultMode', msg.payload);\nnode.status({fill: msg.payload ? 'red' : 'green', shape: 'dot', text: msg.payload ? 'FAULT MODE' : 'Normal'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 420,
        "wires": [[]]
    },
    {
        "id": "update_gauges_mx01",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Format MX-01",
        "func": "return [\n    {payload: msg.payload.temperature + ' °C', topic: 'MX-01'},\n    {payload: msg.payload.vibration + ' units', topic: 'MX-01'},\n    {payload: msg.payload.production_count + ' u/min', topic: 'MX-01'},\n    {payload: msg.payload.fault ? 'FAULT' : 'OK', topic: 'MX-01'}\n];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 260,
        "wires": [["text_mx01_temp"], ["text_mx01_vib"], ["text_mx01_prod"], ["text_mx01_status"]]
    },
    {
        "id": "update_gauges_mx02",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Format MX-02",
        "func": "return [\n    {payload: msg.payload.temperature + ' °C', topic: 'MX-02'},\n    {payload: msg.payload.vibration + ' units', topic: 'MX-02'},\n    {payload: msg.payload.production_count + ' u/min', topic: 'MX-02'},\n    {payload: msg.payload.fault ? 'FAULT' : 'OK', topic: 'MX-02'}\n];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 340,
        "wires": [["text_mx02_temp"], ["text_mx02_vib"], ["text_mx02_prod"], ["text_mx02_status"]]
    },
    {
        "id": "update_gauges_mx03",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Format MX-03",
        "func": "return [\n    {payload: msg.payload.temperature + ' °C', topic: 'MX-03'},\n    {payload: msg.payload.vibration + ' units', topic: 'MX-03'},\n    {payload: msg.payload.production_count + ' u/min', topic: 'MX-03'},\n    {payload: msg.payload.fault ? 'FAULT' : 'OK', topic: 'MX-03'}\n];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 420,
        "wires": [["text_mx03_temp"], ["text_mx03_vib"], ["text_mx03_prod"], ["text_mx03_status"]]
    },
    {
        "id": "text_mx01_temp",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_gauges",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "MX-01 Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "text_mx01_vib",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_gauges",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "MX-01 Vibration",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "text_mx01_prod",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_gauges",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "MX-01 Production",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1000,
        "y": 280,
        "wires": []
    },
    {
        "id": "text_mx01_status",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_gauges",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "MX-01 Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 300,
        "wires": []
    },
    {
        "id": "text_mx02_temp",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_gauges",
        "order": 5,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "MX-02 Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1000,
        "y": 320,
        "wires": []
    },
    {
        "id": "text_mx02_vib",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_gauges",
        "order": 6,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "MX-02 Vibration",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "text_mx02_prod",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_gauges",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "MX-02 Production",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "text_mx02_status",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_gauges",
        "order": 8,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "MX-02 Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 380,
        "wires": []
    },
    {
        "id": "text_mx03_temp",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_gauges",
        "order": 9,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "MX-03 Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1000,
        "y": 400,
        "wires": []
    },
    {
        "id": "text_mx03_vib",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_gauges",
        "order": 10,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "MX-03 Vibration",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 420,
        "wires": []
    },
    {
        "id": "text_mx03_prod",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_gauges",
        "order": 11,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "MX-03 Production",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1000,
        "y": 440,
        "wires": []
    },
    {
        "id": "text_mx03_status",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_gauges",
        "order": 12,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "MX-03 Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 460,
        "wires": []
    },
    {
        "id": "update_chart",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Format Chart",
        "func": "msg.topic = msg.payload.machine_id;\nmsg.payload = msg.payload.production_count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 520,
        "wires": [["chart_production"]]
    },
    {
        "id": "chart_production",
        "type": "ui_chart",
        "z": "smart_production_tab",
        "name": "",
        "group": "ui_group_charts",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Production Count (units/min)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#ff7f0e", "#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 520,
        "wires": [[]]
    },
    {
        "id": "text_total_machines",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_stats",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Total Machines",
        "format": "3",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 580,
        "wires": []
    },
    {
        "id": "text_active_machines",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_stats",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Active Machines",
        "format": "3",
        "layout": "row-spread",
        "className": "",
        "x": 1030,
        "y": 620,
        "wires": []
    },
    {
        "id": "refresh_kpis",
        "type": "inject",
        "z": "smart_production_tab",
        "name": "Refresh KPIs (5s)",
        "props": [{"p": "payload"}],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 900,
        "wires": [["get_machines_auth"]]
    },
    {
        "id": "get_machines_auth",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Add JWT Header",
        "func": "const token = flow.get('jwt_token');\nif (!token) {\n    return null;\n}\nmsg.headers = {\n    \"Authorization\": \"Bearer \" + token\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 900,
        "wires": [["http_get_machines"]]
    },
    {
        "id": "http_get_machines",
        "type": "http request",
        "z": "smart_production_tab",
        "name": "GET /api/machines/status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/machines/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 600,
        "y": 900,
        "wires": [["calculate_kpis", "format_machines_table"]]
    },
    {
        "id": "calculate_kpis",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Calculate KPIs",
        "func": "let data = msg.payload;\nlet totalProduction = 0;\nlet totalFaults = 0;\nlet avgTemp = 0;\nlet count = 0;\n\nif (Array.isArray(data)) {\n    for (let machine of data) {\n        totalProduction += machine.production_count || 0;\n        if (machine.fault) totalFaults++;\n        avgTemp += machine.temperature || 0;\n        count++;\n    }\n    if (count > 0) avgTemp = avgTemp / count;\n}\n\nreturn [\n    {payload: totalProduction + \" units/min\"},\n    {payload: totalFaults + \" active\"},\n    {payload: avgTemp.toFixed(1) + \" °C\"}\n];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 900,
        "wires": [["kpi_throughput"], ["kpi_faults"], ["kpi_temp"]]
    },
    {
        "id": "kpi_throughput",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_kpis",
        "order": 1,
        "width": "4",
        "height": "2",
        "name": "",
        "label": "Line Throughput",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1060,
        "y": 880,
        "wires": []
    },
    {
        "id": "kpi_faults",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_kpis",
        "order": 2,
        "width": "4",
        "height": "2",
        "name": "",
        "label": "Active Faults",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1050,
        "y": 920,
        "wires": []
    },
    {
        "id": "kpi_temp",
        "type": "ui_text",
        "z": "smart_production_tab",
        "group": "ui_group_kpis",
        "order": 3,
        "width": "4",
        "height": "2",
        "name": "",
        "label": "Avg Temperature (5min)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1070,
        "y": 960,
        "wires": []
    },
    {
        "id": "format_machines_table",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Format Machines Table",
        "func": "let data = msg.payload;\nlet rows = [];\n\nif (Array.isArray(data)) {\n    for (let machine of data) {\n        rows.push([\n            machine.machine_id,\n            machine.fault ? 'FAULT' : 'OK',\n            (machine.production_count || 0) + ' units/min',\n            (machine.temperature || 0).toFixed(1) + '°C',\n            new Date(machine.last_updated).toLocaleTimeString()\n        ]);\n    }\n}\n\nmsg.payload = rows;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1000,
        "wires": [["machines_table"]]
    },
    {
        "id": "machines_table",
        "type": "ui_table",
        "z": "smart_production_tab",
        "group": "ui_group_machines_list",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [
            {"field": "0", "title": "Machine ID", "width": ""},
            {"field": "1", "title": "Status", "width": ""},
            {"field": "2", "title": "Production", "width": ""},
            {"field": "3", "title": "Temperature", "width": ""},
            {"field": "4", "title": "Last Update", "width": ""}
        ],
        "outputs": 0,
        "cts": false,
        "x": 1070,
        "y": 1000,
        "wires": []
    },
    {
        "id": "refresh_alerts",
        "type": "inject",
        "z": "smart_production_tab",
        "name": "Refresh Alerts (10s)",
        "props": [{"p": "payload"}],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1100,
        "wires": [["get_alerts_auth"]]
    },
    {
        "id": "get_alerts_auth",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Add JWT Header",
        "func": "const token = flow.get('jwt_token');\nif (!token) {\n    return null;\n}\nmsg.headers = {\n    \"Authorization\": \"Bearer \" + token\n};\nmsg.url = \"http://localhost:8000/api/alerts?resolved=false\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1100,
        "wires": [["http_get_alerts"]]
    },
    {
        "id": "http_get_alerts",
        "type": "http request",
        "z": "smart_production_tab",
        "name": "GET /api/alerts",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 1100,
        "wires": [["format_alerts_table"]]
    },
    {
        "id": "format_alerts_table",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Format Alerts",
        "func": "let data = msg.payload;\nlet rows = [];\n\nif (Array.isArray(data) && data.length > 0) {\n    for (let alert of data) {\n        rows.push([\n            alert.machine_id,\n            alert.alert_type,\n            alert.severity,\n            alert.message || 'N/A',\n            new Date(alert.created_at).toLocaleString()\n        ]);\n    }\n} else {\n    rows.push(['No active alerts', '', '', '', '']);\n}\n\nmsg.payload = rows;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1100,
        "wires": [["alerts_table"]]
    },
    {
        "id": "alerts_table",
        "type": "ui_table",
        "z": "smart_production_tab",
        "group": "ui_group_alerts_list",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [
            {"field": "0", "title": "Machine", "width": ""},
            {"field": "1", "title": "Alert Type", "width": ""},
            {"field": "2", "title": "Severity", "width": ""},
            {"field": "3", "title": "Message", "width": ""},
            {"field": "4", "title": "Created", "width": ""}
        ],
        "outputs": 0,
        "cts": false,
        "x": 980,
        "y": 1100,
        "wires": []
    },
    {
        "id": "acknowledge_alert_btn",
        "type": "ui_button",
        "z": "smart_production_tab",
        "name": "",
        "group": "ui_group_alerts_list",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Clear All Alerts",
        "tooltip": "Mark all alerts as resolved (Login required)",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear_alerts",
        "topicType": "str",
        "x": 170,
        "y": 1160,
        "wires": [["check_auth_clear_alerts"]]
    },
    {
        "id": "check_auth_clear_alerts",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Check Auth",
        "func": "const authenticated = flow.get('authenticated');\nif (authenticated === true) {\n    return msg;\n} else {\n    msg.payload = \"⚠ Access denied. Please login first.\";\n    node.send([null, msg]);\n    return null;\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1160,
        "wires": [["prepare_clear_alerts"], ["auth_denied_toast"]]
    },
    {
        "id": "prepare_clear_alerts",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Prepare Clear Request",
        "func": "const token = flow.get('jwt_token');\nmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n};\nmsg.method = \"PATCH\";\nmsg.url = \"http://localhost:8000/api/alerts/clear\";\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1160,
        "wires": [["http_clear_alerts"]]
    },
    {
        "id": "http_clear_alerts",
        "type": "http request",
        "z": "smart_production_tab",
        "name": "PATCH /api/alerts/clear",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 1160,
        "wires": [["alert_cleared_success", "refresh_alerts"]]
    },
    {
        "id": "alert_cleared_success",
        "type": "ui_toast",
        "z": "smart_production_tab",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1020,
        "y": 1160,
        "wires": []
    },
    {
        "id": "time_window_selector",
        "type": "ui_dropdown",
        "z": "smart_production_tab",
        "name": "",
        "label": "Time Window",
        "tooltip": "Select reporting period",
        "place": "Select time window",
        "group": "ui_group_reports_controls",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {"label": "Last 5 minutes", "value": 5, "type": "num"},
            {"label": "Last 15 minutes", "value": 15, "type": "num"},
            {"label": "Last 60 minutes", "value": 60, "type": "num"}
        ],
        "payload": "",
        "topic": "time_window",
        "topicType": "str",
        "className": "",
        "x": 170,
        "y": 1260,
        "wires": [["store_time_window"]]
    },
    {
        "id": "store_time_window",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Store Time Window",
        "func": "flow.set('reportTimeWindow', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1260,
        "wires": [[]]
    },
    {
        "id": "generate_report_btn",
        "type": "ui_button",
        "z": "smart_production_tab",
        "name": "",
        "group": "ui_group_reports_controls",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Generate Report",
        "tooltip": "Create statistics report (Login required)",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "generate",
        "topicType": "str",
        "x": 180,
        "y": 1320,
        "wires": [["check_auth_report"]]
    },
    {
        "id": "check_auth_report",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Check Auth",
        "func": "const authenticated = flow.get('authenticated');\nif (authenticated === true) {\n    return msg;\n} else {\n    msg.payload = \"⚠ Access denied. Please login first.\";\n    node.send([null, msg]);\n    return null;\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1320,
        "wires": [["prepare_report_request"], ["auth_denied_toast"]]
    },
    {
        "id": "prepare_report_request",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Prepare Report Request",
        "func": "const token = flow.get('jwt_token');\nconst timeWindow = flow.get('reportTimeWindow') || 15;\n\nmsg.headers = {\n    \"Authorization\": \"Bearer \" + token\n};\n\nconst now = new Date();\nconst past = new Date(now.getTime() - timeWindow * 60000);\n\nmsg.url = `http://localhost:8000/api/machines/stats?start=${past.toISOString()}&end=${now.toISOString()}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1320,
        "wires": [["http_get_stats"]]
    },
    {
        "id": "http_get_stats",
        "type": "http request",
        "z": "smart_production_tab",
        "name": "GET /api/machines/stats",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 820,
        "y": 1320,
        "wires": [["format_report_data"]]
    },
    {
        "id": "format_report_data",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Format Report",
        "func": "let data = msg.payload;\nlet rows = [];\n\nif (data && typeof data === 'object') {\n    rows.push(['Total Units Produced', (data.total_production || 0) + ' units']);\n    rows.push(['Average Temperature', (data.avg_temperature || 0).toFixed(1) + ' °C']);\n    rows.push(['Max Temperature', (data.max_temperature || 0).toFixed(1) + ' °C']);\n    rows.push(['Min Temperature', (data.min_temperature || 0).toFixed(1) + ' °C']);\n    rows.push(['Average Vibration', (data.avg_vibration || 0).toFixed(1) + ' units']);\n    rows.push(['Fault Count', (data.fault_count || 0)]);\n    rows.push(['Total Readings', (data.total_readings || 0)]);\n} else {\n    rows.push(['No data available', '']);\n}\n\nmsg.payload = rows;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1320,
        "wires": [["report_table"]]
    },
    {
        "id": "report_table",
        "type": "ui_table",
        "z": "smart_production_tab",
        "group": "ui_group_reports_data",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [
            {"field": "0", "title": "Metric", "width": ""},
            {"field": "1", "title": "Value", "width": ""}
        ],
        "outputs": 0,
        "cts": false,
        "x": 1220,
        "y": 1320,
        "wires": []
    },
    {
        "id": "export_csv_btn",
        "type": "ui_button",
        "z": "smart_production_tab",
        "name": "",
        "group": "ui_group_reports_controls",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Export CSV",
        "tooltip": "Download report as CSV (Login required)",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-download",
        "payload": "",
        "payloadType": "str",
        "topic": "export",
        "topicType": "str",
        "x": 160,
        "y": 1380,
        "wires": [["check_auth_export"]]
    },
    {
        "id": "check_auth_export",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Check Auth",
        "func": "const authenticated = flow.get('authenticated');\nif (authenticated === true) {\n    return msg;\n} else {\n    msg.payload = \"⚠ Access denied. Please login first.\";\n    node.send([null, msg]);\n    return null;\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1380,
        "wires": [["prepare_csv_export"], ["auth_denied_toast"]]
    },
    {
        "id": "prepare_csv_export",
        "type": "function",
        "z": "smart_production_tab",
        "name": "Open Swagger for CSV",
        "func": "const token = flow.get('jwt_token');\nconst timeWindow = flow.get('reportTimeWindow') || 15;\n\nif (!token) {\n    msg.payload = '⚠ Not authenticated. Please login first.';\n    return msg;\n}\n\nconst now = new Date();\nconst past = new Date(now.getTime() - timeWindow * 60000);\n\n// Mensaje instructivo\nmsg.payload = `✓ Opening Swagger to download CSV report (${timeWindow} min window).\\n\\nGo to: http://localhost:8000/docs#/Machines/export_measurements_csv_api_machines_export_csv_get`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1380,
        "wires": [["csv_notification"]]
    },
    {
        "id": "http_get_measurements",
        "type": "http request",
        "z": "smart_production_tab",
        "name": "GET Measurements",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 1380,
        "wires": [["csv_notification"]]
    },
    {
        "id": "csv_notification",
        "type": "ui_toast",
        "z": "smart_production_tab",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "CSV Export Info",
        "x": 910,
        "y": 1380,
        "wires": []
    }
]